*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(255, 255, 255),rgb(245, 245, 245));
    font-family:"Gill Sans", sans-serif;
    color: rgb(2, 2, 2);
    font-size: 10px;
  
}

.navon-intro{
    display: block;
    padding: 50px;
    margin:50px;
    font-size: 18px;
    line-height: 1.5;
}

button {
    background-color: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.749);
    text-align: center;
    font-size: 15px;
    padding: 8px;
    margin: 8px;
}


.navon-intro{
    display: block;
    font-size: 16px;
    padding: 50px;
    margin:50px;
}

.std-consent{
    display: block;
    font-size: 17px;
    padding: 20px;
    margin:20px;
}